/*TOP NAV*/

.nav-container {
    background-color: #362C2A;
}

.nav-container2 {
    background-color: #2A2321;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    color: #CF4114;
}


/*API*/

.api {
    padding: 0;
}

.g-btn {
    background-color: #4D3E3C;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
    border: #ffffff solid;
    border-width: 1px;
    font-size: 18px;
}

.api-info {
    color: white;
    text-align: center;
    padding-top: 60px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color-box {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.color-info p {
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 5px;
}


/*CARDS*/
.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
    width: 100%;
}

body {
    background-color: #FFF2D8;
}

.card {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
    width: calc(33.33% - 20px); /* Adjust width based on 3 cards per row */
    margin: 10px;
}

.c-img {
    border-bottom: 0.25rem solid #CF4114;
    border-radius: 0.25rem 0.25rem 0 0;
    height: auto;
    width: 100%;
}

  .card-content {
    padding: 1rem;
  }
  
  .header,
  .subheader {
    margin: 0;
  }

/*OTHER CONTENT*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

  ::selection {
    color: #FBC256;
    background: #362C2A;
  }



/*FONTS*/
h1 {
    font-optical-sizing: auto;
    font-style: normal;
    padding: 35px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 60px;
    background-color: #362C2A;
    opacity: .95;
}

.subh1 {
    color: white;
    text-align: center;
}

h2 {
    background-color: #362C2A;
    opacity: .95;
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
}

/* HERO SECTION */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #362C2A;
  }

.hero-container {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CONTENT SECTION */
.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

.content-text {
    text-align: center;
    color: #fff;
    border: #ffffff solid;
    border-width: 1px;
    padding: 2rem;
    background-color: #362C2A;
}

.content-image {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-right: 5%;
    border-radius: 50%;
}

.content-image img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain; 
    width: auto;
    height: auto;
    margin-top: 20%;
}

.content-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.content-btn {
    background-color: #4D3E3C;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
    border: #ffffff solid;
    border-width: 1px;
    font-size: 18px;
}

.content-btn:hover {
    background-color: #CF4114
}

.g-btn.g-btn:hover {
    background-color: #CF4114
}

/* ACCORDION SECTION */
.banner-h2 {
    text-align: center;
    padding-bottom: 1.5rem; 
    background-color: #362C2A;
    padding-top: 1.5rem;
    color: #fff; 
    border: #ffffff solid;
    border-width: 1px;
}

.accordion-container {
    color: #fff;
    padding: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.accordion-button {
    background-color: #4D3E3C;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s;
    position: relative;
}

.panel {
    padding: 0 18px;
    background-color: #CF4114;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-button:hover {
    background-color: #362C2A;
}

/*ICONS IN ACCORDION*/
.fa-angle-up,
.fa-angle-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: rgb(255, 255, 255);
    display: none;
    right: 10px;
}

.icon-before,
.icon-after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    right: 10px;
}

.icon-after {
    display: none;
}

.accordion-button.active .icon-before {
    display: none;
}

.accordion-button.active .icon-after {
    display: inline;
}

.accordion-button:not(.active) .icon-before {
    display: inline;
}

.accordion-button:not(.active) .icon-after {
    display: none;
}


/* FOOTER SECTION */
.footer-container {
    background-color: #2A2321;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.footer-item {
    flex-basis: 25%;
    padding: 2.5rem;
    margin-bottom: 20px;
    justify-content: center;
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

ul {
    height: 100%;
}

.copy {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
}

/*LINK STYLES*/
li {
    list-style: none;
    color: #807830;
    text-decoration: none;
}

li:hover {
    color: #CF4114;
}

.wht-link:hover {
    color: #CF4114;
}

.wht-link {
    color: #ffffff;
    text-decoration: none;
}

/*video*/
.vid-container {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 1150px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
  }
  
  .video { 
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }